/*
	Programmierpraktikum SN SS15
	
*/


.content {
	margin-top:70px;
}

.navbar-inverse {
	background:#eee;
	border-color:#ccc;
}

.navbar-inverse a {
	color:#333 !important;
}

.navbar-inverse li.active a {
	color:#fff !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color:#333;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color:#fff;
}

.table-margin {
	margin-top:20px;
}

.btn-primary {
	
}

.control-group {
	margin-top:10px;
}